/* Cfont-family: 'Advent Pro', sans-serif;
font-family: 'Bellota Text', cursive; */
:root {
  --primary-color: #f7fbfc;
  --secondary-color: #d6e6f2;
  --tertiary-color: #b9d7ea;
  --querternary-color: #769fcd;
  --heading-font-family: "Bellota Text";
  --paragraph-font-family: "Advent Pro";
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h2,
h3 {
  font-family: var(--heading-font-family);
}
img,
p {
  border-radius: 5px;
  padding: 10px;
  border: var(--querternary-color) 1px solid;
  margin: 5px 0px 5px 0px;
  max-width: 100%;
}
p {
  font-size: 25px;
  font-family: var(--paragraph-font-family);
}
.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 80px 20px;
  max-width: 100%;
  border-radius: 5px;
  margin: 5px 12px;
}

.btn-branding {
  background: var(--querternary-color);
  color: var(--primary-color);
  border-radius: 5px;
  font-size: 18px;
  font-family: var(--heading-font-family);
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 15px;
}
.professional-projects img {
  border: none;
  background-color: var(--primary-color);
}

@media (max-width: 768px) {
  .introduction {
    text-align: center;
  }
  .professional-projects {
    text-align: center;
  }
}
