/* Cfont-family: 'Advent Pro', sans-serif;
font-family: 'Bellota Text', cursive; */
:root {
  --primary-color: #f7fbfc;
  --secondary-color: #d6e6f2;
  --tertiary-color: #b9d7ea;
  --quarternary-color: #769fcd;
  --heading-font-family: "Bellota Text";
  --paragraph-font-family: "Advent Pro";
}
a {
  transition: all 200ms ease;
}
h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}
h1 {
  font-weight: bold;
}
img,
p {
  border-radius: 5px;
  padding: 10px;
  border: var(--quarternary-color) 1px solid;
  margin: 5px 0px 5px 0px;
  max-width: 100%;
}
p {
  font-size: 25px;
  font-family: var(--paragraph-font-family);
}
i {
  font-size: 25px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 45px;
  margin-left: 10px;
}
nav a {
  text-decoration: none;
  color: var(--tertiary-color);
}

nav a:hover,
nav li.active a {
  color: var(--quarternary-color);
  transition: all 100ms ease-in-out;
}
nav {
  padding: 0px 0px;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 80px 20px;
  max-width: 100%;
  border-radius: 5px;
  margin: 5px 12px;
}
footer .social-links a {
  color: var(--primary-color);
  padding: 10px 14px;
  background-color: var(--quarternary-color);
  border-radius: 50%;
}

.btn-branding,
.social-links {
  background: var(--quarternary-color);
  color: var(--primary-color);
  border-radius: 5px;
  font-size: 18px;
  font-family: var(--heading-font-family);
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 15px;
}

.btn-branding:hover,
footer .social-links:hover {
  background-color: var(--secondary-color);
  color: var(--quarternary-color);
}
footer .social-links a:hover {
  color: var(--secondary-color);
}

.professional-projects img {
  border: none;
  background-color: var(--primary-color);
}
.personal-projects img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin: 70px auto auto auto;
  background-color: var(--primary-color);
}
.personal-projects h2 {
  margin-top: 25px;
}

.personal-projects .travel img {
  margin: 15px auto;
}
.contact p {
  margin: 15px 12px;
  border: none;
  background-color: var(--primary-color);
}
.logo {
  max-width: 60px;
  border: none;
  padding: 0;
}

@media (max-width: 768px) {
  .introduction {
    text-align: center;
  }
  .professional-projects {
    text-align: center;
  }
  .personal-projects {
    text-align: center;
  }
  .logo {
    max-height: 40px;
  }
  nav a {
    font-size: 12px;
  }
}
