/* Cfont-family: 'Advent Pro', sans-serif;
font-family: 'Bellota Text', cursive; */
:root {
  --primary-color: #f7fbfc;
  --secondary-color: #d6e6f2;
  --tertiary-color: #b9d7ea;
  --querternary-color: #769fcd;
  --heading-font-family: "Bellota Text";
  --paragraph-font-family: "Advent Pro";
}
a {
  transition: all 200ms ease;
  cursor: zoom-in;
}
h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}
h1 {
  font-weight: bold;
}
img,
p {
  border-radius: 5px;
  padding: 10px;
  border: var(--querternary-color) 1px solid;
  margin: 5px 0px 5px 0px;
  max-width: 100%;
}
p {
  font-size: 25px;
  font-family: var(--paragraph-font-family);
}
i {
  font-size: 25px;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 80px 20px;
  max-width: 100%;
  border-radius: 5px;
  margin: 5px 12px;
}

.btn-branding {
  background: var(--querternary-color);
  color: var(--primary-color);
  border-radius: 5px;
  font-size: 18px;
  font-family: var(--heading-font-family);
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 15px;
}
.btn-branding:hover {
  background-color: var(--secondary-color);
  color: var(--querternary-color);
}

.professional-projects img {
  border: none;
  background-color: var(--primary-color);
}
.personal-projects img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin: 70px auto auto auto;
  background-color: var(--primary-color);
}
.personal-projects h2 {
  margin-top: 25px;
}

.personal-projects .travel img {
  margin: 15px auto;
}
.contact p {
  margin: 15px 12px;
  border: none;
  background-color: var(--primary-color);
}
@media (max-width: 768px) {
  .introduction {
    text-align: center;
  }
  .professional-projects {
    text-align: center;
  }
  .personal-projects {
    text-align: center;
  }
}
